# Ignore IntelliJ IDEA project files
.idea/

# Ignore build directories
/build/
/*/build/
/**/build/

# Ignore Gradle files and directories
.gradle/
gradle/
gradlew
gradlew.bat

# Ignore local properties
local.properties

